<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Automation Testing" parallel="tests" thread-count="2">


    <listeners>
        <listener class-name="actions.reportConfigs.ExtentListener"/>
    </listeners>

    <test name="Run on Chrome browser">
        <parameter name="url" value="https://www.youtube.com/" />
        <parameter name="browser" value="CHROME" />
        <classes>
            <class name="com.jquery.Level_13_UploadFile"/>
        </classes>
    </test>

    <!-- Test configuration for Edge -->
    <!--    <test name="EdgeTest">-->
    <!--        <parameter name="browser" value="EDGE" />-->
    <!--        <classes>-->
    <!--            <class name="com.knowledges.Level_03_Page_Object" />-->
    <!--        </classes>-->
    <!--    </test>-->

</suite>